.chatTitleWrapper {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 43vw;
}

#chatTitle {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

/*General styling*/
.message {
    display: grid;
    width: 100%;
    margin-bottom: 2vh;
}

.messageAndTime {
    padding: 1vb;
    border-radius: 2%;
}

.messageText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 150%;
}

.timeWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2vh;
    color: rgb(200, 200, 200);
}

.time {
    text-align: right;
}


/*Message stylig for user messages*/
.userMessage {
    grid-template-columns: 40% 60%;
}

.userMat {
    background-color: #0D4490
}

/*Message styling for support messages*/
.supportMessage {
    grid-template-columns: 60% 40%;
}

.supportMat {
    background-color: #AD2290;
}





.formBox {
    outline: none;
    border: none;
    background: transparent;
    font-size: 2vb;
    width: 90%;
}

.inputFormWrapper {
    width: 90%;
    background-color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 1vb;
    border-radius: 5vb;
}

.chatOptions {
    font-weight: 900;
    font-size: 3vb;
}

.chatOpen {
    position: absolute;
    top: 0;
    width: 90%;
}

#headerBox {
    background-color: #A543BF;
    padding: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

#chatBoxInner {
    width: 50vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}

#chatBox {
    position: fixed;
    width: 100vw;
    background-color: rgba(200, 200, 200, 0.8);

    z-index: 4;
    height: 100vh;


    /* Styles to be affcete by animation*/
    opacity: 0;
    top: 100vh;
    left: 100vw;
}

/* Chat Box animation */
@keyframes chatBoxAnimation {
    0% {
        opacity: 0;
        top: 100vh;
        left: 100vw;
        transform: rotate(10);

    }

    100% {
        opacity: 1;
        top: 0;
        left: 0;
    }
}

.animateChatBox {
    animation: chatBoxAnimation 1s;
}

.closeChatBox {
    animation: chatBoxAnimation 1s reverse;
}



#chatWrapper {
    position: fixed;
    width: 50vw;
    bottom: 20vh;
    right: 2vw;
}

#chatIconWrapper {
    gap: 1vw;
    float: inline-end;
    background-color: aqua;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5vw;
    border-style: groove;
    border-width: thin;
    border-color: black;
}

#chatIcon {
    background-color: #1DA1F2;
    padding: 0.5vw;
    border-radius: 1vw;
    width: 2vb;
    height: 2vb;
}

.shImage {
    width: 50vw;
}

.sh {
    display: flex;
}

.pp {
    font-style: italic;
    font-weight: 900;
    font-size: 4vw;
    font-family: Helvetica, Arial, sans-serif
}

.touchForm {
    border: none;
    border-bottom-style: solid;
    background: transparent;
    width: 100%;
    color: white;
    border-bottom-color: black;
    text-shadow: black;
    padding-left: 1vw;
    line-height: 200%;

}

.touchForm:focus {
    outline: none;
    border-bottom-style: solid;
    color: white;
    border-bottom-color: black;
    text-shadow: black;
}

.touchForm::placeholder {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#inTouchInner {
    width: 600px;
}

.serviceHead {
    font-size: 10vw;
}

.navLink {
    color: black;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 900;
}
.navLink:hover{
    cursor: pointer;
}

.navLink:visited {
    color: black;
}

#logo {
    width: 15vw;
    height: 10vw;
    border-radius: 5vw;
}

.contain {
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.staticLink {
    color: gold;
    text-decoration: underline;
    cursor: pointer;
}

.staticLink:visited {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

.singleService {
    background-color: black;
    margin: 1vb;
    padding: 1vb;
    display: flex;
    align-items: center;
    border-radius: 1vb;
}

.hide {
    display: none;
}

.serviceGrid {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    width: 100vw;
}

.innerBody {
    width: 90vw;
    padding-left: 5vw;
}

.text {
    font-size: larger;
    line-height: 5vh;
    font-family: Helvetica, Arial, sans-serif;
}

.indexHead {
    background-repeat: no-repeat;
    background-size: 110vw 100%;
    width: 120vw;
    margin-left: -5vw;
    margin-top: -10vw;
    overflow-x: hidden;
}

.indexHeadInner {
    padding-top: 45vh;
}

#companyNameHeader {
    padding: 5vw;
    padding-left: 5vw;
    font-size: 0vw;
    padding-top: 0;
}

#verified {
    width: 0;
    height: 0;
}

/* show animation after page load. */
#body {
    display: none;
}

.show {
    animation: showAnimation 3s;
}

@keyframes showAnimation {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}


/* Move header on page load*/
.mover {
    animation: moveHeader 2s;
}

@keyframes moveHeader {
    0% {
        padding-left: 1000vw;
        font-size: 0vw;
    }

    50% {
        font-size: 0vw;
    }

    100% {
        padding-left: 20vw;
        font-size: 5vw;
    }
}

/* animate verification badge */
.animateVerified {
    animation: animateVerifiedAnimation 10s;
}

@keyframes animateVerifiedAnimation {
    0% {
        width: 0;
        height: 0;
        fill: gray;
    }

    25% {
        width: 10vw;
        height: 10vw;
    }

    100% {
        fill: #1DA1F2;
    }
}

h1 {
    color: red;
    width: 50vw;
    word-wrap: break-word;
}

.nameGrid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    width: 100vw;

}




/* Styling for mobile devices */
@media screen and (max-width:600px) {
    .chatTitleWrapper {
        width: 85vw;
    }

    #chatBoxInner {

        width: 90vw;

    }

    #chatWrapper {

        right: 5vw;
    }

    .navLink {
        font-size: large;
    }

    h1 {
        color: blue;
    }

    .nameGrid {
        display: grid;
        grid-template-columns: auto;
    }

    .serviceGrid {
        display: grid;
        grid-template-columns: 70vw 70vw 70vw;
        width: 100vw;
        overflow-x: scroll;
    }

    .indexHeadInner {
        padding-top: 15vh;
    }

    .serviceHead {
        font-size: 7vw;
    }

    #inTouchInner {
        width: 70vw;
        margin-left: -6vw;
    }

    .sh {
        display: block;
    }

    .shImage {
        width: 100vw;
    }
}




/* Styling for iPads */
@media screen and (min-width:601px) and (max-width:1024px) {
    .chatTitleWrapper {
        width: 63vw;
    }

    .navLink {
        font-size: x-large;
    }

    h1 {
        color: orange;
    }

    .nameGrid {
        display: grid;
        grid-template-columns: 70vw auto;
    }

    .serviceGrid {
        display: grid;
        grid-template-columns: 60vw 60vw 60vw;
        width: 100vw;
        overflow-x: scroll;
    }

    .indexHeadInner {
        padding-top: 20vh;
    }

    .serviceHead {
        font-size: 8vw;
    }

    #inTouchInner {
        width: 500px;
    }

    #chatBoxInner {
        width: 70vw;
    }
}